* {
  margin: 0px;
  padding: 0px;
}
.found-result {
  margin: 15px 0px;
  text-align: center;
}
.container-card {
  width: 250px;
  height: 420px;
  background-color: rgb(223, 220, 220);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  margin: 0 auto;
}
.cover {
  display: flex;
  margin: 0px auto;
  width: 200px;
}
.about {
  text-align: left;
}
.title-book {
  font-weight: 500;
  font-family: "Abril Fatface";
  font-size: 16px;
  margin: 15px 0px;
}
.authors {
  color: gray;
}
.link-category {
  color: gray;
}
