.ProductCard {
  font-style: italic;
  margin-bottom: 30px;
}
.Selected {
  border: 4px double red;
}
.ProductDescription {
  font-style: italic;
}
.ProductDescriptionName {
  font-weight: 700;
  font-style: normal;
}
.ProductDescriptionPhoto {
  height: 200px;
  width: 100%;
}
.BtnProduct {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}
.BtnProduct:hover {
  background-color: blue;
}
