.StoreName {
  border: double gray 3px;
  padding: 7px;
  background-color: bisque;
  text-align: center;
}
.ProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  font-style: italic;
  margin: 0px;
  width: 100%;
}
.BtnNew {
  width: 200px;
  height: 35px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  margin: 10px 0px 0px 50px;
  cursor: pointer;
}
.BtnNew:hover {
  background-color: blue;
}
#BtnNew:disabled{
  background-color: gray;
}