.StoreName {
  border: double gray 3px;
  padding: 7px;
  background-color: bisque;
  text-align: center;
}

.ProductContainer {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-style: italic;
}
.ProductDescription {
  font-style: italic;
}
.ProductDescriptionName {
  font-weight: 700;
  font-style: normal;
}
.ProductDescriptionPhoto {
  height: 200px;
  width: 200px;
}
