* {
  margin: 0px;
  padding: 0px;
}
.footer {
  width: 100%;
  height: 100px;
  background-image: url("/src/assets/img/books2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.load-more {
  border-radius: 20px;
  box-shadow: inset 0 0 3px 3px gray;
  width: 150px;
  height: 30px;
}
.load-more:hover{
  background-color: rgb(221, 218, 218);
}