.ProductContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  font-style: italic;
  margin: 0px;
  width: 100%;
}
.ProductCard {
  font-style: italic;
  margin-bottom: 30px;
}
.ProductDescription {
  font-style: italic;
}
.ProductDescriptionName {
  font-weight: 700;
  font-style: normal;
}
.ProductDescriptionPhoto {
  height: 200px;
  width: 200px;
}
.BtnDelete {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 15px;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
}
.BtnDelete:hover {
  background-color: blue;
}
